.about {
  display: flex;
  flex-direction: column;
  width: 99%;
  margin: 0 auto;
  gap: 2em;
  font-family: sans-serif;
}

.about-light {
  color: black;
}

.about-dark {
  color: white;
}

.back {
  color: blue;
  font-size: 2rem;
  width: max-content;
}

.about-container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
  justify-items: center;
}
