.banner {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  gap: 1em;
}

.banner-text {
  height: max-content;
  font-size: 3rem;
  font-family: Arial, Helvetica, sans-serif;
}

.banner-text-dark {
  color: cyan;
}

.banner-text-light {
  color: #461952;
}
